body {
    background-color: #F8F8F8;
}

h1 {
    font-size: 1.8em;
    padding: .6em 0 .2em;
}

p {
    margin: .6em 0;
}

table {
    width: 100%;
    margin-top: .6em;
    margin-bottom: .6em;
    font-size: 1em;
}

th.column-date {
    width: 10%;
}

th.column-assignee {
    width: 10%;
}

th.column-action {
    width: 3%;
}

.primary thead th {
    background-color: #43AA8B;
}

.burger {
    font-size: 1.2em;
}

.btn-primary {
    background-color: #577590;
}

.btn-add {
    background-color: #3098C5;
    margin-bottom: 12px;
}

.menu-btn {
    padding: 10px;
    display: flex;
    align-items: baseline;
}

nav.top-nav {
    padding: 2.1em .2em;
    height: 4em;
    -webkit-box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.06);
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.06);
}

.brand {
    font-size: 1.3em;
}

nav .logo {
    height: 2.2em;
}

.site-body {
    padding: 4em 1.2em;
}

input:focus, textarea:focus, .select select:focus {
    border: 1px solid #43AA8B;
}

input, textarea, .select select {
    transition: all 0s;
}

input {
    border: 1px solid #AAA;
}

.login-form {
    margin-top: 8em;
}

.login-heading {
    padding-bottom: 4px;
}

.login-btn {
    margin-top: 8px;
    float: right;
    background-color: #43AA8B;
}

.alert-heading {
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
}

.alert-banner {
    margin: 0;
    text-align: left;
    line-height: 1.2;
}

.tasks-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.modal-submit-btn {
    background-color: #3098C5;
    float: right;
    margin-bottom: 10px;
}

.modal-form-section {
    padding: .2em .2em .4em;
}

.modal-article {
    padding-bottom: .3em !important;
}

.modal-footer {
    padding-top: .3em;
    padding-left: .15em;
    padding-right: .15em;
}

.btn-table {
    font-size: .7em;
    padding: .3em .7em;
}

.btn-delete {
    background-color: #F94144;
    padding: 8px;
    display: flex;
    align-items: baseline;
}

/* Picnic CSS overrides */
.error.label, .error[data-tooltip]:after, button.error, .error.button, .error[type=submit], .error.dropimage {
    background-color: #F94144;
}

.card .dangerous, .modal .overlay ~ * .dangerous {
    background-color: #F94144;
}

.card .close:hover, .modal .overlay ~ * .close:hover {
    color: #F94144;
}

.card .dangerous, .modal .overlay ~ * .dangerous {
    float: left;
}