body {
    background-color: #F8F8F8;
}

h1 {
    font-size: 1.8em;
    padding: .6em 0 .2em;
}

p {
    margin: .6em 0;
}

table {
    width: 100%;
    margin: .6em 0;
    font-size: 1em;
}

.primary thead th {
    background-color: #43AA8B;
}

.burger {
    font-size: 1.2em;
}

.btn-primary {
    background-color: #577590;
}

.menu-btn {
    font-size: 1em;
    text-align: center !important;
}

nav.top-nav {
    padding: 2.1em .2em;
    height: 4em;
    -webkit-box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.06);
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.06);
}

.brand {
    font-size: 1.3em;
}

nav .logo {
    height: 2.2em;
}

.site-body {
    padding: 4em 1.2em;
}

input:focus, textarea:focus, .select select:focus {
    border: 1px solid #43AA8B;
}

input, textarea, .select select {
    transition: all 0s;
}

input {
    border: 1px solid #AAA;
}

.login-form {
    margin-top: 8em;
}

.login-heading {
    padding-bottom: 4px;
}

.login-btn {
    margin-top: 8px;
    float: right;
    background-color: #43AA8B;
}

.alert-heading {
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
}

.alert-banner {
    margin: 0;
    text-align: left;
    line-height: 1.2;
}

/* Picnic CSS overrides */
.error.label, .error[data-tooltip]:after, button.error, .error.button, .error[type=submit], .error.dropimage {
    background-color: #F94144;
}