<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" type="image/png" href="/static/favicon.png"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
            <link rel="stylesheet" href="/static/site.css">
            <title>{% block title %}{% endblock %} - ErinBot</title>
        {% endblock %}
    </head>
    <body>
        <nav class="top-nav">
            <a href="/" class="brand">
                <img class="logo" src="/static/erin_idle.gif" />
                <span>ErinBot</span>
            </a>
            <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">&#9776;</label>

            <div class="menu">
                <a href="/history" class="button btn-primary menu-btn">
                    <span class="btn-icon-txt">History</span>
                </a>
            </div>
        </nav>
        <div class="site-body">{% block content %}{% endblock %}</div>
    </body>
</html>