{% extends "base.html" %}
    {% block title %}History{% endblock title %}
    {% block head %}
        {{ super() }}
    {% endblock head %}
{% block content %}
{% include "history_navbar.html" %}
<div class="site-body">
    <div class="tasks-heading">
        <h1>History</h1>
    </div>
    <table class="primary">
        <thead>
            <tr>
                <th class="column-date">Date</th>
                <th>Task</th>
                <th class="column-assignee">Assignee</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task[0] }}</td>
                <td>{{ task[1] }}</td>
                <td>{{ task[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
