{% extends "base.html" %}
    {% block title %}Home{% endblock title %}
    {% block head %}
        {{ super() }}
    {% endblock head %}
{% block content %}
{% include "home_navbar.html" %}
<div class="site-body">
    <div class="tasks-heading">
        <h1>Upcoming tasks</h1>
        <label for="add-task-modal" class="button btn-add">Add</label>
    </div>
    <table class="primary">
        <thead>
            <tr>
                <th class="column-done"></th>
                <th class="column-date">Date</th>
                <th class="column-task">Task</th>
                <th class="column-assignee">Assignee</th>
                <th class="column-delete"></th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>
                    <form action="/complete-task" method="post">
                        <button class="button btn-done btn-table" id="complete-task-btn" onclick="celebrate()" name="complete-task-id" value="{{ task[0] }}" title="Complete task">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#343A40" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M5 12l5 5l10 -10" />
                            </svg>
                        </button>
                    </form>
                </td>
                <td>{{ task[1] }}</td>
                <td class="cell-task">{{ task[2] }}</td>
                <td>
                    {% if task[3] is not none %}
                    {{ task[3] }}
                    {% endif %}
                </td>
                <td>
                    <form action="/delete-task" method="post">
                        <button class="button btn-delete btn-table" name="delete-task-id" value="{{ task[0] }}" title="Delete task">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal">
        <input id="add-task-modal" type="checkbox" />
        <label for="add-task-modal" class="overlay"></label>
        <article class="modal-article">
            <header>
                <h3>Add a task</h3>
                <label for="add-task-modal" class="close">&times;</label>
            </header>
            <section class="content">
                <form class="add-task-form" action="/add-task" method="post">
                    <div class="modal-form-section">
                        <label for="add-due-date">Due date</label>
                        <input type="date" name="due-date" id="add-due-date">
                    </div>
                    <div class="modal-form-section">
                        <label for="add-task">Task</label>
                        <textarea placeholder="Clean the..." name="task" id="add-task"></textarea>
                    </div>
                    <label>Assignees</label>
                    <div class="modal-form-section checkbox-group">
                        <label for="assign-cara">
                            <input type="checkbox" id="assign-cara" name="assign-cara" value="Cara">
                            <span class="checkable">Cara</span>
                        </label>
                        <label for="assign-connor">
                            <input type="checkbox" id="assign-connor" name="assign-connor" value="Connor">
                            <span class="checkable">Connor</span>
                        </label>
                        <label for="assign-melanie">
                            <input type="checkbox" id="assign-melanie" name="assign-melanie" value="Melanie">
                            <span class="checkable">Melanie</span>
                        </label>
                        <label for="assign-mitch">
                            <input type="checkbox" id="assign-mitch" name="assign-mitch" value="Mitch">
                            <span class="checkable">Mitch</span>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <label for="add-task-modal" class="button dangerous">
                            Cancel
                        </label>
                        <button class="button modal-submit-btn">Submit</button>
                    </div>
                </form>
            </section>
        </article>
    </div>
</div>
{% endblock content %}
