{% extends "base.html" %}
    {% block title %}Login{% endblock %}
    {% block head %}
        {{ super() }}
    {% endblock %}
{% block content %}
    <div class="flex one three-600">
        <div></div>
        <form class="login-form" action="/login" method="post">
            {% if exception is not none %}
            <p class="login-error">{{ exception }}</p>
            {% endif %}
            <h3>Login</h3>
            <label>
                <input type="password" name="password" placeholder="Password">
            </label>
            <button class="btn-primary login-btn">Submit</button>
        </form>
        <div></div>
    </div>
{% endblock %}
