{% extends "base.html" %}
    {% block title %}Login{% endblock %}
    {% block head %}
        {{ super() }}
    {% endblock %}
{% block content %}
<nav class="top-nav">
    <a href="/" class="brand">
        <img class="logo" src="/static/erin_idle.gif" />
        <span>ErinBot</span>
    </a>
</nav>
<div class="site-body">
    <div class="flex one three-600">
        <div></div>
        <form class="login-form" action="/login" method="post">
            <h3 class="login-heading">Login</h3>
            {% if error is not none %}
            <h2 class="alert-heading"><span class="label error alert-banner">{{ error }}</span></h2>
            {% elif warning is not none %}
            <h2 class="alert-heading"><span class="label warning alert-banner">{{ warning }}</span></h2>
            {% endif %}
            <label>
                <input type="password" name="password" placeholder="Password">
            </label>
            <button class="btn-primary login-btn">Submit</button>
        </form>
        <div></div>
    </div>
</div>
{% endblock %}
